<div [formGroup]="infoForm" style="margin-top: 25px">
    <div formArrayName="info">
        <div *ngFor="let item of infoForm.get('info').controls; index as i  ">
            <div class="row container form-group" [formGroupName]="i">
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" />
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" />
                </div>
                <div class="col-sm-3">
                    <input type="number" class="form-control" placeholder="Number" formControlName="number" />
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-success" class="form-control" type="button" placeholder="Number" value="Add" (click)="addRow()" />
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-success" type="button" placeholder="Number" value="Submit" (click)="addInformation()" />
                    <ng-template>
                        <input class="btn btn-success" type="button" placeholder="Number" value="Update" (click)="addInformation()" />
                    </ng-template>
                </div>

                <div class="col-sm-1">
                    <input class="btn btn-danger" type="button" placeholder="Number" value="Delete" (click)="removeRow(i)" />
                </div>
            </div>
        </div>
    </div>
</div>