.top-container {
    margin: 0 auto;
    width: 940px;
    padding-top: 40px;
}

[hidden] {
    display: none !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #5cb85c;
    cursor: inherit;
    display: block;
}