<div class="container main-container ">
    <div class="row" style="margin-top: 90px" [formGroup]="registerForm">
        <div class="input-group col-sm-12 form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="email" type="text" class="form-control" formControlName="email" name="email" placeholder="Email">
        </div>
        <div class="input-group col-sm-12 form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" formControlName="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="col-sm-6" style="padding-left:0">
            <input class=" btn-success form-control" type="button" routerLink="./../login" value="Back">
        </div>
        <div class="col-sm-6" style="padding-right:0">
            <input class=" btn-success form-control" type="button" (click)="register()" value="Register">
        </div>  
    </div>
</div>