<div class="container main-container outer-div">
    <div class="row inner-div" [formGroup]="registerForm">
        <div class="col-sm-12 form-group">
            <label>Full Name</label>
            <input type="text" placeholder="Full Name" class="form-control" formControlName="name" />
        </div>
        <div class=" col-sm-12 form-group">
            <label>Eamil</label>
            <input id="email" type="text" class="form-control" formControlName="email" name="email" placeholder="Email">
        </div>

        <div class=" col-sm-12 form-group">
            <label>Password</label>
            <input id="password" type="password" formControlName="password" class="form-control" name="password" placeholder="Password">
        </div>

        <div class="col-sm-6">
            <input class=" btn-success form-control" type="button" routerLink="./../login" value="Back">
        </div>
        <div class="col-sm-6">
            <input class=" btn-success form-control" type="button" (click)="register()" value="Register">
        </div>
    </div>
</div>